/* style for fullCalendar */

.fc .fc-button-primary {
    background-color: #808080!important;
    border-color: transparent !important;
    color: var(--fc-button-text-color);
}


 /* .fc-event-title {
    flex-grow: 1;
    flex-shrink: 1;
    font-weight: 700;
    min-width: 0px;
    overflow: hidden;
    border: 0,5 px solid transparent;
    border-radius: 20 px;
    background-color: #3788d8;
}
.fc-event-time {
   border: 0,5 px solid transparent;
    border-radius: 5 px;
    background-color: #3788d8;
    margin: 0 !important;
} */

/* style for calendar DatePicker */

.react-datepicker__header {
    background: rgb(186, 230, 253);
    border: none;
}
.react-datepicker-time__header {
    font-family: var(--font-inter), Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


/* style for tooltip tippy */
.tippy-box[data-theme~='gray'] {
  background-color: #808080;
  color: white;
}