/* style for fullCalendar */

:root {
  /* button */
  /* --fc-button-text-color: #fff;
  --fc-button-bg-color: #808080;
  --fc-button-border-color: #808080;
  --fc-button-hover-bg-color: #6b6b6b;
  --fc-button-hover-border-color: #6b6b6b;
  --fc-button-active-bg-color: #6b7280;
  --fc-button-active-border-color: #6b7280; */

  --fc-button-text-color: rgb(20, 18, 18);
  --fc-button-bg-color: #b3b3b3;
  --fc-button-border-color: #b3b3b3;
  --fc-button-hover-bg-color: #b3b3b3;
  --fc-button-hover-border-color: #b3b3b3;
  --fc-button-active-bg-color: #b3b3b3;
  --fc-button-active-border-color: #b3b3b3;
  /* event color */
  --fc-event-bg-color: #3788d8;
  --fc-event-border-color: #3788d8;
  --fc-event-text-color: #fff;
  --fc-event-selected-overlay-color: #3788d8;
  --fc-daygrid-event-dot-width: 5px;
  /* event list */
  --fc-list-event-hover-bg-color: #2a76c0;
  --fc-list-event-dot-width: 10px;
}

/* hover event*/


.fc-event:hover {
  background-color: #2a76c0 !important;
  border-color: #2a76c0 !important;
}

/* active event*/
.fc-event.fc-event-selected {
  background-color: #1a5ca8 !important;
  border-color: #1a5ca8 !important;
}

/* event multimonth */
.fc .fc-multimonth-multicol .fc-daygrid-more-link {
  background-color: #3788d8 !important;
  border-color: #3788d8 !important;
}

/* calendar styles */
.fc {
  font-size: 12px;
  width: 100%;
  border: 1px;
  border-radius: 30px 30px 0px 0px !important;

}

.fc .fc-daygrid-day-frame {
  padding: 4px;
}

/* fc-listPlugin-view fc-view fc-list fc-list-sticky */
/* fc list */
.fc-list{
  width: 100% !important;
}
/* button header styles */

.fc .fc-toolbar.fc-header-toolbar {
  background: #b3b3b3;
  border-radius: 30px 30px 0px 0px !important;
  margin-bottom: 0 !important;
  padding: 4px 20px 4px 20px;
  
  
}

.fc .fc-button {
  font-size: 10px !important;
}

.fc-header-toolbar {
  flex-direction: row;
  width: 100%;
   
  
}
.fc-toolbar-title {
  display: none;
}

.fc-today-button {
  display: none !important;
}

@media (max-width: 530px) {
  .fc .fc-daygrid-day-frame {
    padding: 2px;
  }
}

@media (min-width: 530px) {
  
  .fc .fc-button {
    font-size: 14px !important;

  }
}

@media (min-width: 640px) {
  
  .fc .fc-button {
    font-size: 16px !important;
  }
  .fc-today-button {
    display: block !important;
  }
  .fc-toolbar-chunk {
    display: flex;
  }
}

@media (min-width: 1024px) {
  .fc-toolbar-title {
    font-size: 20px !important;
    display: block;
  }
}

/* style for calendar DatePicker */

.react-datepicker__header {
  background: rgb(186, 230, 253);
  border: none;
}
.react-datepicker-time__header {
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* style for tooltip tippy */
.tippy-box[data-theme~="gray"] {
  background-color: #808080;
  color: white;
}



