/* style for fullCalendar */

:root {
  /* button */
  --fc-button-text-color: #fff;
  --fc-button-bg-color: #808080;
  --fc-button-border-color: #808080;
  --fc-button-hover-bg-color: #6b6b6b;
  --fc-button-hover-border-color: #6b6b6b;
  --fc-button-active-bg-color: #6b7280;
  --fc-button-active-border-color: #6b7280;
  /* event color */
  --fc-event-bg-color: #3788d8;
  --fc-event-border-color: #3788d8;
  --fc-event-text-color: #fff;
  --fc-event-selected-overlay-color: #3788d8;
  --fc-daygrid-event-dot-width: 5px;
  /* event list */
  --fc-list-event-hover-bg-color: #2a76c0;
  --fc-list-event-dot-width: 10px;
}



/* hover event*/
.fc-event:hover {
  background-color: #2a76c0 !important;
  border-color: #2a76c0 !important;
}

/* active event*/
.fc-event.fc-event-selected {
  background-color: #1a5ca8 !important;
  border-color: #1a5ca8 !important;
}

/* event multimonth */
.fc .fc-multimonth-multicol .fc-daygrid-more-link{
   background-color: #3788d8 !important;
  border-color: #3788d8 !important;
}


/* CHECK!!!! */

/* calendar styles */
.fc {
  font-size: 12px;
  width: 100%;
}

 

.fc-header-toolbar {
  flex-direction: row;
  width: 100%;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 1.5em;
}

@media (max-width: 585px) {
  .fc {
    font-size: 10px;
  }
  .fc-header-toolbar {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .fc {
    width: 100%;
  }
}




/* style for calendar DatePicker */

.react-datepicker__header {
  background: rgb(186, 230, 253);
  border: none;
}
.react-datepicker-time__header {
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* style for tooltip tippy */
.tippy-box[data-theme~="gray"] {
  background-color: #808080;
  color: white;
}
